# Logging
LOG_LEVEL=DEBUG
LOG_FORMAT="[%(asctime)s] #%(levelname)-8s %(filename)s:%(lineno)d - %(name)s -%(message)s"

# Bot
BOT_TOKEN=<Your bot token>

# LLM
LLM_BASE_URL=<BASE_URL>
LLM_API_TOKEN=<LLM_API_TOKEN>
LLM_MODEL=<LLM_MODEL

# PostgreSQL
POSTGRES_DB=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# PgAdmin
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=PgAdminSecurePass42
PGADMIN_PORT=5050

# Redis
REDIS_DATABASE=1
REDIS_HOST=localhost
REDIS_PORT=6370
REDIS_USERNAME=default # <- Не менять!
REDIS_PASSWORD=default

# Константы
SLEEP_INTERVAL=10
DATETIME_FORMAT="%Y-%m-%d %H:%M:%S"