# Logging
LOG_LEVEL=DEBUG
LOG_FORMAT="[%(asctime)s] #%(levelname)-8s %(filename)s:%(lineno)d - %(name)s -%(message)s"

# Bot
BOT_TOKEN=1234567890:ABCDEFGH1234HJKLmno123141

# LLM
LLM_BASE_URL=https://llm-gateway-proton.t.o3.ru/api
LLM_API_TOKEN=yourLLMAPITOKENgoesthere123141235124321342134
LLM_MODEL=Qwen/Qwen3-Coder-30B-A3B-Instruct-FP8

# PostgreSQL
POSTGRES_DB=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=mysecretpassword

# PgAdmin
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_PORT=5050

# Redis - is not used right now, may add redis cache later
REDIS_DATABASE=1
REDIS_HOST=localhost
REDIS_PORT=6370
REDIS_USERNAME=default # <- Do not change!
REDIS_PASSWORD=default
